.card-wrapper {
  margin: 0.5rem;
}

article {
  float: left;
  margin: 1em;
}
.card {
  /* background-color: #F4F4F4; */
  box-shadow: 0rem 1rem 3rem 0.005rem #9f9f9f;
  /* border: 1px solid lightgray; */
  border-radius: .5em;
  position: relative;
  width: 30%;
}

.card-header {
  /* border: 1px dotted lightgray; */
  border-top-right-radius: .5em;
  text-align: center;
}

.card-img {
  height: 200px;
  margin: 0 auto;
  width: 150px;
}

.image {
  height: 100%;
}
img {
  height: 100%;
  width: 100%
}

.card-description {
  margin: .5em;
  text-align: justify;
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 3.6em;
  text-align: justify;
  margin: 0.5em;
  padding-right: 1em;
}

.card-description:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}

.card-hr {
  margin: 0 0.5rem;
}

p.item-detail-bold {
  font-size: 1rem;
  font-weight: bold;
}

p.item-detail {
  font-weight: lighter;
  font-size: 0.75rem;
  padding-top: 0.5rem;
}

.card-description:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}





.available {
  background-color: #787878;
  color: yellow;
}

.available > p {
  padding: 3px 5px;
}

/*Specifications Section*/
/*Clearing margin*/
section, p, h4 {
  margin: 0;
}
.specifications {
  margin: .5em;
}
.specifications > h4 {
  font-size: 1em;
  font-weight: lighter;
}
.specifications > p {
  font-size: .8em;
  font-weight: bold;
  margin-left: 1em;
}
.specifications-footer > p {
  font-size: smaller;
  font-weight: lighter;
  margin-left: .5em;
}

/*Pricing Section*/
.pricing {
  margin-left: .5em;
  margin-bottom: .5em;
}
/* .pricing > h4{
  margin-left: .5em;
  font-weight: lighter;
}
.pricing > p {
  font-size: .8em;
  font-weight: bold;
  margin-left: 1em;
} */
