@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,400,400i,700,700i');
html {
  padding: 0;
  margin: 0;
}
.page-wrapper {
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;
}
.header-wrapper{
  border: solid 1px pink;
  width: 80%;
  height: 40%;
  margin-left: 20%;
  position: absolute;

}
.aside-wrapper {
  border: solid 1px green;
  width: 20%;
  height: auto;
  position: absolute;
  top: 0;

}
.main-wrapper{
  border: solid 1px brown;
  width: 80%;
  height: 50%;
  position: absolute;
  top: 40%;
  left: 20%;


}
.footer-wrapper{
  border: solid 1px orange;
  width: 100%;
  height: 10%;
  position: absolute;
  top: 90%;


}
